# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Dependencies
node_modules/

# Build output
dist/

# Astro
.astro/

# dotenv
.env*

# Mac files
.DS_Store

# Yarn
.pnp/
.pnp.js
.yarn-integrity
