<div id="page-footer">
  {% if page.tags != empty %}
  <div id="tags">
    {% for tag in page.tags %}
      <div class="tag">{{tag}}</div>
    {% endfor %}
  </div>
  {% endif %}

  {% if page.comments %}
  <div id="comment-button-wrapper">
    <div id="comment-button">댓글보기 / 쓰기</div>
  </div>
  {% endif %}
</div>

{% if page.comments %}
<div id="comments">
  <script src="https://utteranc.es/client.js"
    repo="kciter/kciter.github.io"
    issue-term="title"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</div>

<script>
$(function() {
  $('#comment-button').click(function () {
    $('#comments').toggle();
  });
});
</script>
{% endif %}