---
import Social from './Social.astro';
---

<footer class="m-8 text-center text-[#999]">
  <div>
    <Social />
  </div>

  <div class="mt-4 mb-4 font-['Quattrocento_Sans',sans-serif] text-[0.8rem] text-[#9a9a9a]">
    <a href="/about/" class="p-2.5 text-[#999] hover:text-[#333]" style="text-decoration: none;">
      kciter.so | devlog by Sunhyoup Lee
    </a>
  </div>
</footer>
