---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image %}
  <img src="{{ site.github.url }}{{ page.image }}">
{% endif %}

<div class="toc" data-margin-top="50">
  {% include toc.html html=content %}
</div>
<script>
  new Sticky('.toc');
</script>

<div class="post-content">
{{ content }}
</div>

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% if page.comments %}
<script src="https://utteranc.es/client.js"
  repo="kciter/kciter.github.io"
  issue-term="title"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>
{% endif %}

{% comment %}
{% include related-posts.html %}
{% endcomment %}
