/*
  Base
*/

h1 {
  font-size: 2rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

h1 a {
  text-decoration: none;
}

h2 {
  padding-bottom: 8px;
  font-size: 1.6em;
  border-bottom: 1px solid #eee;
}

h3 {
  margin: 8px 0;
  font-size: 1.3em;
}

h4 {
  margin: 8px 0;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 48px;
  color: #454f5b;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #454f5b !important;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: #454f5b;
}

a:hover {
  color: black;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  /* margin: 10px 20px 10px; */
  margin: 10px 0;
  padding: 8px 16px;
  border-left: 0.25em solid #ccc;
  color: #454f5b;
  line-height: 1.5;
  background-color: #eeeeee;
}

hr {
  border-top: 1px solid #ccc;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  /* max-height: 320px; */
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
}

.thumbnail-container a, .thumbnail-container img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/*
  Post
*/

.post-container {
  position: relative;
  line-height: 1.75rem;
  /* margin-bottom: 4rem; */
}

.post-content a {
  text-decoration: none;
  color: #5c6ac4;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content a.footnote-ref, .post-content a[data-footnote-ref] {
  color: #FF6F00;
}

.post-content > p::first-letter {
  margin-left: 0.3em;
}

.post-content ul {
  word-break: break-all;
}

@media (max-width: 30em) {
  .post-content ul {
    padding-left: 24px;
    list-style-position: outside;
  }
  .post-content li > ul {
    padding-left: 12px;
    list-style-position: outside;
  }
}

sup {
  position: relative;
  top: -0.5em;
  font-weight: normal;
  vertical-align: top;
}

/* .post-content a.footnote:before {
  content: '[';
  color: #FF6F00;
}

.post-content a.footnote:after {
  content: ']';
  color: #FF6F00;
} */

.post-title {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.2;
}

.post-date {
  display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

figure {
  margin: 24px 40px;
  text-align: center;
}

@media (max-width: 30em) {
  figure {
    margin: 24px 0;
  }
}

figcaption {
  text-align: center;
  font-size: 12px;
  color: #637381;
}

/*
  Footnotes
*/
.footnotes {
  border-top: 1px solid #eee;
  margin-top: 48px;
  /* padding-top: px; */
  font-size: 12px;
}

.footnotes ol {
  padding-left: 16px;
  line-height: 16px;
}

.footnotes ol li {
  margin-top: 8px;
  padding-left: 4px;
}

.footnotes ol p {
  margin: 0;
}

.footnotes ol li::marker {
  color: #FF6F00;
}

.footnotes ol li .footnote-backref {
  margin-left: 5px;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table, th, td {
  border: 1px solid #888;
}

th, td {
  padding: 8px;
  text-align: left;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
  transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	transition: color .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	transition: color .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	transition: color .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	transition: color .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	transition: color .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	transition: color .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	transition: color .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	transition: color .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	transition: color .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	transition: color .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

/*
 Tooltip
*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 10px;
  display: none;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border-left: 6px solid #FF6F00;
  border-radius: 2px;
  background-color: #212b36;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  pointer-events: none;
}

[data-tooltip]:hover:after, [data-tooltip]:focus:after {
  display: block;
}


@media (max-width: 30em) {
  [data-tooltip]:hover:after, [data-tooltip]:focus:after {
    display: none;
  }
}

/*
 Member
*/
.member-container {
  display: flex;
  padding: 24px 0;
}

.member-container .avatar {
  flex: 0 1 160px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.member-container .summary {
  flex: 1;
  margin-left: 32px;
  font-size: 12px;
}

.member-container {
  display: block;
}

.member-container .avatar {
  display: block;
  max-width: 300px;
  width: 50%;
  margin: 0 auto;
}

.member-container .summary {
  margin-left: 0;
  font-size: 12px;
  text-align: center;
}

.member-container .summary .name {
  margin-top: 18px;
  font-size: 28px;
  font-weight: 100;
}

.member-container .summary .description {
  margin-top: 8px;
  font-weight: 100;
}

/*
 tiny header
*/
.tiny-header {
  font-size: 16px;
  font-weight: bold;
  color: #212b36;
}

.gatsby-highlight {
  width: 95%;
  padding: 0;
}

.gatsby-highlight pre[class*=language-] {
  padding: 16px;
  box-sizing: border-box;
}

@media (max-width: 30em) {
  .gatsby-highlight {
    width: 100%;
  }
}
